/* src/assets/auth/common.css */

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5; /* Color de fondo claro */
}

.content {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin-top: 50px; /* Aumenta el margen superior para mover el formulario más abajo */
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  max-width: 100%;
  margin-top: 2rem; /* Ajusta este valor según sea necesario */
}

.submit-button {
  width: 100%;
}
